.footer{
    position: relative;
    float:right;
}
.my-drop-zone { border: dotted 3px lightgray; height:
     100px;width:200px;text-align: center;padding:10px;
    margin-bottom: 20px;
    
    }
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }