<h1 mat-dialog-title>About BigPrint</h1>
<div mat-dialog-content style="text-align: center">
        <object data="assets/logo.svg" type="image/svg+xml" class="BigPrint-logo" width="80%" style="max-width:250px"></object>
        <div style="max-width: 550px">
                    <p> The objective of this project is to design a mobile 3D printing robot that overcomes 
            the problem of print volume limitations. The robot should be able to move within the 
            xy-plane and accurately position a printhead in 3-dimensions. </p></div>
</div>
<div class="footer">
    
    <div mat-dialog-actions>
        <button mat-raised-button [mat-dialog-close] tabindex="-1">Ok</button>
    </div>
</div>
