<div class="loading">
    <h1 class="loading-text">Loading</h1>
    <i class="fa fa-spinner fa-spin" style="font-size:50px;color:white"></i>
</div>

<div class="mainwrapper fade-in-bg">
 
  <object data="assets/logo.svg" type="image/svg+xml" class="BigPrint-logo" width="80%" style="max-width:500px"></object>
  
  <div class="grid">
    <mat-grid-list cols="2" rowHeight="2:1" gutterSize="0px">
      <mat-grid-tile colspan="1" rowspan="1" style="background:rgba(29,105,179,.5)" (click)="openCreateDialog()">Create Task</mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan=1 style="background:rgba(255,154,0,.5)" (click)="openViewDialog()">View Tasks</mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1" style="background:rgba(255,154,0,.5)" (click)="openDiagnosticsDialog()">Diagnostics</mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1" style="background:rgba(29,105,179,.5)" (click)="openAboutDialog()">About</mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
